<div class="container p-6 mx-auto">
  <h1 class="text-3xl font-bold text-center my-8" style="margin-top: -2rem;">Borrowings</h1>

  <div class="container mx-auto mt-8 px-4">
    <%= link_to "New Appointment", new_borrowing_path, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>

    <table class="min-w-full bg-white border rounded-lg shadow-md mt-4">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Borrowing ID</th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Borrower</th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Book</th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Borrowed_on</th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Returned_on</th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
       <% counter = 1 %>
        <% @borrowings.each do |borrowing| %>
          <tr class="border-b hover:bg-gray-50">
            <td class="px-6 py-4 text-gray-800 font-semibold">
              <%= link_to "#{counter}", borrowing_path(borrowing), class: "text-blue-500 hover:underline" %>
            </td>
            <td class="px-6 py-4">
              <%= borrowing.borrower.name if borrowing.borrower %>
            </td>
            <td class="px-6 py-4">
              <%= borrowing.book.title if borrowing.book %>
            </td>
            <td class="px-6 py-4">
              <%= borrowing.borrowed_on.strftime("%B %d, %Y %I:%M %p") %>
            </td>
            <td class="px-6 py-4">
              <%= borrowing.returned_on.strftime("%B %d, %Y %I:%M %p") %>
            </td>
            <td class="px-6 py-4">
              <%= link_to "Edit", edit_borrowing_path(borrowing), class: "text-blue-500 hover:underline mr-4" %>
              <%= link_to "Delete", borrowing, method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500 hover:underline" %>
            </td>
          </tr>
          <% counter += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
